In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [10]:
#read in data
df = pd.read_csv('../data/raw/raw_material_export.csv')
df.head()

  country_id    product  product_code     flow       unit  year  value
0    Albania   pulpwood            11  EXPORTS  1000 m.t.  2007   0.00
1    Albania  roundwood            14  EXPORTS    1000 m3  2007  58.59
2    Albania   sawnwood            16  EXPORTS    1000 m3  2007  65.48
3    Albania  wood fuel            21  EXPORTS    1000 m3  2007  56.30
4    Armenia   pulpwood            11  EXPORTS  1000 m.t.  2007   0.00

# Year for analysis

We will use a random generator to chose a random year

In [11]:
#pick a random number between 2007 and 2021
np.random.seed(42) #so that the number is the same each time
year = np.random.randint(2007, 2021)
print(year)

2013

so we will use year 2013

In [12]:
#select the data for year 2013
df = df[df['year'] == 2013]
df.head()

     country_id    product  product_code     flow       unit  year  value
1272    Albania   pulpwood            11  EXPORTS  1000 m.t.  2013   0.01
1273    Albania  roundwood            14  EXPORTS    1000 m3  2013  88.37
1274    Albania   sawnwood            16  EXPORTS    1000 m3  2013  35.17
1275    Albania  wood fuel            21  EXPORTS    1000 m3  2013  75.90
1276    Armenia   pulpwood            11  EXPORTS  1000 m.t.  2013   0.00

In [13]:
#read df into a csv file
df.to_csv('../data/cleaned/2013_export.csv', index=False)

WE WILL USE TABLEAU TO VISUALIZE THE DATAS