import libraries

In [1]:
import numpy as np
import math
import pandas as pd
import seaborn as sns
import matplotlib as plt

import file

In [8]:

xlsx_file_path = 'C:/Users/Lenovo/Desktop/ironhack/Week_5/Mid_bootcamp_project/data/raw/project_file.xlsx'

sheet_name = 'Data' 

data = pd.read_excel(xlsx_file_path, sheet_name=sheet_name)

visualize data

In [9]:
data.shape

(28261, 122)

In [10]:
data.head()

,"UNECE/FAO TIMBER database, 1964-2021, as of March 2022. Data point (yearD), status (yearS). Status C=calculated (sum of subitems) - E1=technical estimate (based on similar data) - E2=analyst estimate (based on outside source) - E3=estimate based on official aggregate - R=repeated - N=national estimate - blank=official",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121
0,Dollar values are at current prices and exchan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country Code,Country_ID,Product_ID,Product Code,Flow,Unit,1964D,1964S,1965D,1965S,...,2017D,2017S,2018D,2018S,2019D,2019S,2020D,2020S,2021D,2021S
2,8,Albania,Roundwood (wood in the rough),1,EXPORTS,1000 m3,NaN,NaN,NaN,NaN,...,26.67,C,15.35,C,14.02,C,11.8,C,14.26,C
3,8,Albania,Roundwood (wood in the rough),1,EXPORTS,1000 US$,NaN,NaN,NaN,NaN,...,1676.93,C,1907.49,C,1804.94,C,1692.82,C,2214.79,C
4,8,Albania,Roundwood (wood in the rough),1,IMPORTS,1000 m3,NaN,NaN,NaN,NaN,...,30.47,C,23.8,C,18.46,C,39.04,C,23.37,C